{% extends "base2.html" %} 

{% block content %}
{% load static %}
  	







<div class="container">
<div class="forms" style=" display: block;">
    <form style="display: inline-block; width: 500px; margin-left: 120px; margin-top: 100px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.3804183852894!2d-41.43645158602052!3d-7.0818204713835975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x79c1a843b8a035d%3A0x362c9952b4717405!2sUniversidade+Federal+do+Piau%C3%AD+-+Picos!5e0!3m2!1spt-BR!2sbr!4v1554983200631!5m2!1spt-BR!2sbr" width="800" height="600" frameborder="0" style="border:0; max-width: 400px; max-height: 400px;" allowfullscreen></iframe>
    </form style="display: inline-block; width: 500px;">
  
    <form style="display: inline-block; width: 500px;">
     <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Entre em contato!</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p></p>

              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                  <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                      <!-- Name -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Nome</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                      </div>
                 
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Menssagem</label>
                          <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">
                          <button class="btn btn-common" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Enviar Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
    </form style="display: inline-block; width: 500px;">
</div>
</div>
    {% endblock %}
